<%= form_for [:admin, @user] do |f| %>

  <%= render 'shared/model_error', obj: @user %>

  <div class="field">
  	<%= f.label :email %>
  	<%= f.text_field :email %>
  </div>

  <div class="field">
  	<%= f.label :password %>
  	<%= f.password_field :password %>
  </div>

  <div class="field">
  	<%= f.check_box :admin %>
  	<%= f.label :admin, "Is an admin?" %>
  </div>

  <%= f.submit %>
<% end %>